.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 36px;

  @media (max-width: 991px) {
	font-size: 24px;
  }
}

h1,
h3 {
  color: #26b67c;

  span {
    color: rgb(97, 97, 97);
  }
}

h3 {
  font-size: 24px;

  @media (max-width: 991px) {
	font-size: 16px;
  }
}
